
include::{partialsdir}/entities.adoc[]

= {{ cat_name }}

{% for change in changes %}
== {{ change['title'] }}

{{ change['release_notes'] }}

__Read {{ change['url'] }}[more information] about this change.__

{% endfor %}
